<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <% @pets.each do |pet| %>
    <div class="col-sm-12 col-md-6">
      <div class="thumbnail">
        <%= image_tag @specie[:"#{pet.specie.downcase}"] %>
        <div class="caption">
          <h4><%= pet.full_name %></h4>
          <p>
            a <%= pet_age(pet.birth_date) %> <%= pet.breed %> <%= pet.specie %>
          </p>
          <p>
            <strong>Last Seen: </strong>
            <%= where_am_i_now(pet) %>
          </p>
          <p>
            <td><%= link_to "#{fa_icon('map-o lg')} Find".html_safe, pet, class: "btn btn-default" %></td>
            <td><%= link_to "#{fa_icon('edit lg')} Edit".html_safe, edit_pet_path(pet), class: "btn btn-default" %></td>
            <td><%= link_to 'Dismiss', pet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-sm-12">
    <%= link_to 'Add Pet', new_pet_path, class: "btn btn-default btn-lg btn-block" %>
  </div>
</div>

<br>
