<%= simple_form_for @user, url: users_path do |f| %>
  <div class="form-inputs">
    <div class="col-md-6"><%= f.input :first_name %></div>
    <div class="col-md-6"><%= f.input :last_name %></div>
    <div class="col-md-12"><%= f.input :address %></div>
    <div class="col-md-6"><%= f.input :home_phone %></div>
    <div class="col-md-6"><%= f.input :cell_phone %></div>

    <div class="col-md-12"><%= f.input :email %></div>
    <% if @user.persisted? %>
      <div class="col-md-12"><%= f.input :current_password %></div>
    <% end %>
    <div class="form-group">
      <div class="col-md-6"><%= f.input :password %></div>
      <div class="col-md-6"><%= f.input :password_confirmation %></div>
    </div>
  </div>
  <div class="form-actions col-md-12">
    <%= f.button :submit %>
    <%= f.button :button, "Reset", { :type => "reset", :class=>"btn btn-default" } %>
    <%= link_to "Nevermind", root_path, class: "btn btn-default" %>
  </div>
<% end %>
